.ecommercecontainer
{
    display: flex;
    justify-content: center;
   &__recent
{
    background-image: url('./Ecommerceimages/portfoliobanner.png');
    height:290px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
&__recent__text
{
    color: var(--white, #FFF);
text-align: center;
font-family: Quicksand;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.96px;
}
}
#ecommercepara1
{
    color: var(--primary, #C63D33);
text-align: center;
font-family: Quicksand;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.48px;
}
#ecommercepara2
{
    color: var(--white, #FFF);
text-align: center;
font-family: Quicksand;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 62px; /* 129.167% */
letter-spacing: 0.96px;
}
.commerce
{  position: relative;
    width: 90%;

  display: flex;
  justify-content: end;
 
 margin-top: 100px!important;
    &__containerdata
    {
        display: flex;
        justify-content: end;
      
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px silver;
        border-bottom: 1px solid var(--primary, #C63D33);
        
background: #FFF;
box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
    }
    &__container__text
    { 
       
  width: 80%;
  border-radius: 10px;

background: #FFF;

padding: 30px;
    }
    &__container__text__pic
    {
        position: absolute;
        top: -40px;
        left: 0px;
    } 
}

.commerceplaintext{
    color: var(--black, #000);
text-align: center;
font-family: Quicksand;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.96px;
}

    #commercepara1
    {
        color: var(--black, #000);
font-family: Quicksand;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 47px; /* 130.556% */
letter-spacing: 0.72px;
    }
    #commercepara2
    {
        color: var(--text, #7A7A7A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.32px;
    }









    

    @media only screen and (min-width: 320px) and (max-width:767px)
{
    #ecommercepara2 {
        color: var(--white, #FFF);
        text-align: center;
        font-family: Quicksand;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.96px;
    }
    .ecommercecontainer
    {
        &__recent
        {
            height:221px;
            width: 100%!important;
        }
    }
   
.commerce
{  position: unset;
    width: 100%!important;

  display: flex;
  justify-content: end;
 
 margin-top: 36px!important;
    &__containerdata
    {
        display: block;
        justify-content: end;
      
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px silver;
        border-bottom: 1px solid var(--primary, #C63D33);
        
background: #FFF;
box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
    }
    &__container__text
    { 
       
        width: 100%;
        border-radius: 10px;
        background: #FFF;
        padding: 10px;
    }
    &__container__text__pic
    {
     position: unset;
    } 
}
#commercepara1
{
    text-align: center!important;
    color: var(--black, #000);
font-family: Quicksand;
font-size: 31px;
font-style: normal;
font-weight: 600;
line-height: 47px; /* 130.556% */
letter-spacing: 0.72px;
}
#commercepara2
{
    color: var(--text, #7A7A7A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.32px;
}
.commerceplaintext{
    margin-top: 66px!important;
    font-size: 30px;
    }
    #commerceline{
  width: 50%;
  margin-left: 75px;
    }
.commercefooterfinal
{
    margin-top: 50px;
    &__firstpic
    {
      margin-top: 30px!important;
    }
    &__lastpic
    {
        margin-top: 20px;
    }
}
}
#commercebodypic
{
    width: 100%!important;
}


@media only screen and (min-width: 767px) and (max-width:1020px)
{
    #ecommercepara1
    {
 text-align: center;
    }
   
    #ecommercepara2 {
        color: var(--white, #FFF);
        text-align: center;
        font-family: Quicksand;
        font-size: 30px!important;
        font-style: normal;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0.96px;
    }



.ecommercecontainer
{
    &__recent
    {
        width: 100%!important;
        height: 234px;
    }
}

#commercepara1 {
    text-align: center;
    color: var(--black, #000);
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.72px;
}

#commercepara2 {
    color: var(--text, #7A7A7A);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.32px;
}

#commercepara1 {
    text-align: center;
    color: var(--black, #000);
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.72px;
}

.commerce
{
    position: unset;
    width: 100%!important;
    display: block;
    margin-top: 60px!important;
    &__containerdata
    {
        display: block;
    }
    &__container__text
    {
width: 100%!important;
    }
    &__container__text__pic
    {
        position: unset;
        display: flex;
        justify-content: center;
        height: 370px;
    }
    &__containerdata
    {
        width: 100%!important;
     
    }
}
#commercebodypic
{
    width: 50%!important;
    
}
#commerceline
{
    width: 40%;
    margin-left: 30vw;
}
.commerceplaintext {
    margin-top: 47px !important;
}
.commercfooter{
    margin-top: 47px !important;
}

}